<div class="row">
  <h1>Candidates</h1>
  <ul class="button-group">
    <li>
        <button ng-click="setSortField('name')" ng-class="{'success': sortField == 'name'}">
            Name
            <span ng-if="sortField == 'name' && sortOrderDescending == true">
                ↓
            </span>
            <span ng-if="sortField == 'name' && sortOrderDescending == false">
                ↑
            </span>
        </button>
    </li>
    <li>
        <button ng-click="setSortField('office')" ng-class="{'success': sortField == 'office'}">
            Office
            <span ng-if="sortField == 'office' && sortOrderDescending == true">
                ↓
            </span>
            <span ng-if="sortField == 'office' && sortOrderDescending == false">
                ↑
            </span>
        </button>
    </li>
    <li>
        <button ng-click="setSortField('contribution')" ng-class="{'success': sortField == 'contribution'}">
            Total Raised
            <span ng-if="sortField == 'contribution' && sortOrderDescending == true">
                ↓
            </span>
            <span ng-if="sortField == 'contribution' && sortOrderDescending == false">
                ↑
            </span>
        </button>
    </li>
    <li>
        <button ng-click="setSortField('expenditure')" ng-class="{'success': sortField == 'expenditure'}">
            Total Spent
            <span ng-if="sortField == 'expenditure' && sortOrderDescending == true">
                ↓
            </span>
            <span ng-if="sortField == 'expenditure' && sortOrderDescending == false">
                ↑
            </span>
        </button>
    </li>
  </ul>
  <div ng-repeat="candidate in candidates | orderBy: getOrderBy()" class="medium-6 columns panel">
    <h4>{{candidate.name}}</h4>
    <h6>{{candidate.office}}</h6>
    <h5>Total Raised</h5>
    <p class="candidate-money">{{candidate.contribution | currency}}</p>
    <h5>Total Spent</h5>
    <p class="candidate-money">{{candidate.expenditure | currency}}</p>
  </div>
</div>
