<h1>Candidates</h1>
<ul class="button-group">
  <li><a href="#" class="button">Name</a></li>
  <li><a href="#" class="button">Office</a></li>
  <li><a href="#" class="button">Total Raised</a></li>
  <li><a href="#" class="button">Total Spent</a></li>
</ul>
<div class="row">
  <div ng-repeat="candidate in candidates" class="medium-6 columns panel">
    <h4>{{candidate.name}}</h4>
    <h6>{{candidate.office}}</h6>
    <h5>Total Raised</h5>
    <p class="candidate-money">{{candidate.contribution | currency}}</p>
    <h5>Total Spent</h5>
    <p class="candidate-money">{{candidate.expenditure | currency}}</p>
  </div>
</div>
