<div class="row">
  <h1>Candidates</h1>
  <ul class="button-group">
    <li ng-repeat="sortField in sortFields">
        <button ng-click="setSortField(sortField.name)" ng-class="{'success': curSortField == sortField.name}">
            {{sortField.label}}
            <span ng-if="curSortField == sortField.name && curSortOrderDesc == true">
                ↓
            </span>
            <span ng-if="curSortField == sortField.name && curSortOrderDesc == false">
                ↑
            </span>
        </button>
    </li>
  </ul>
  <div ng-repeat="candidate in candidates | orderBy: getOrderBy()" class="medium-6 columns panel">
    <h4>{{candidate.name}}</h4>
    <h6>{{candidate.office}}</h6>
    <h5>Total Raised</h5>
    <p class="candidate-money">{{candidate.contribution | currency}}</p>
    <h5>Total Spent</h5>
    <p class="candidate-money">{{candidate.expenditure | currency}}</p>
  </div>
</div>
