<div ng-controller="candidatesCtrl" class="container-fluid">
    <div class="row">
        <h1>Candidates</h1>
        <p> updated on {{date}}</p>
        </div>
    <div class="row">
        <div ng-repeat="candidate in candidates" class="containercard col-xs-5 col-xs-offset-1">
            <div class="row">
                <p class="candimage col-xs-2"></p>
                <h4 class="candname col-xs-8">{{candidate.name}}</h4>
                <h6 class="candpos col-xs-8">{{candidate.position}}</h6>
                <canvas class="candgraph"></canvas>
            </div>
        </div>
    </div>
</div>
