$primary-color: #0078a0;

@media only screen and (min-width: 40.0625em) {
  .medium-6 {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.candidate-money {
  font-size: 1.4rem;
color: $primary-color !important;
margin-bottom: 1rem;
}

.canidate-name {
  font-size: 2rem;
}

.candidate-card {
  height: 320px;
  overflow-y: scroll;
  .candidate-party {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .Republican {
      color: #df5555;
    }
    .Democrat {
      color: #5555df;
    }
}
.candidate-office {
  text-align:right;
}
.side-nav {
  background-color: #333;
  li {
    a:not(.button) {
      color: white;
      &:focus, &:hover {
        background: $primary-color;
        color: white;
      }
    }
  }
}
