      <section class="hero">
        <br>
        <div class="row">
          <div class="large-6 columns about-box">
            <div class="black-box">
              
              <h2><div id="banner-text">Making camapign finance less fuzzy.</div></h2>
              
              <p>Open Disclosure Alabama aims to provide an easy to use web interface for Alabama's publicly available campaign finance data, which empowers citizens to better understand the flow of money in their political system, and consequently allow them to hold their representatives more accountable.</p>

            </div>
          </div>
        </div>
      </section>

      <section class="hero-content">
      <div class="row">
        
        <div class="large-12 columns about-content">
          <h4> Our data </h4>
          <p> 
          Candidates and political action committees (PACs) are required by law to disclose direct contributions to their campaigns. Open Disclosure Alabama makes these contributions transparent so citizens are better able to see the state's monied interests. We draw Alabama campaign finance data from directly from <a href="http://fcpa.alabamavotes.gov/PublicSite/Homepage.aspx">Alabama's public disclosure portal</a>, the official source of contributions and expenditures made by PACs and candidates seeking a state political office. We also get auxiliary data from the Google Civic Information API and the Google Geocoding API.</p>

          <h4> How can I help? </h4>
          <p>This is an <a href="http://opensource.com/resources/what-open-source" target="_blank">open source</a> project by <a href="http://codeforbirmingham.org" target="_blank">Code for Birmingham</a> so feel free to contribute <a href="https://github.com/CodeforBirmingham/Open-Disclosure" target="_blank">over on GitHub</a>.</p>
        </div>

      </div>

      </section>

      <footer>
        <div class="row" id="footer-row">
          <div class="large-9 columns">
            <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
          </div>
          <div class="large-3 columns text-right">
            <p><a href="mailto:matthew.leeds@codeforbirmingham.org">Contact Us</a></p>
          </div>
        </div>
      </footer>
