      <section class="hero">
        <br>
        <div class="row">
          <div class="large-6 columns about-box">
            <div class="black-box">
              
              <h2><div id="banner-text">Making camapign finance less fuzzy.</div></h2>
              
              <p>Open Disclosure Alabama aims to provide an easy to use web interface for Alabama's publicly available campaign finance data, which empowers citizens to better understand the flow of money in their political system, and consequently allow them to hold their representatives more accountable.</p>

            </div>
          </div>
        </div>
      </section>

      <section class="hero-content">
      <div class="row">
        
        <div class="large-12 columns about-content">
          <h4> Our data </h4>
          <p> 
          Candidates and political action committees (PACs) are required by law to disclose direct contributions to their campaigns. Open Disclosure Alabama makes these contributions these transparent so citizens are better able to see the state's monied interests. We draw Alabama campaign finance data from two sources: 

          <ol>

          <li> Directly from <a href="http://fcpa.alabamavotes.gov/PublicSite/Homepage.aspx"> Alabama's public disclosure portal</a>, the official source of contributions and expenditures made by PACs and candidates seeking a state political office.</li>

          <li> <a href="http://www.followthemoney.org/"> The National Institute on Money in State Politics</a>, a nonprofit organization that tracks campaign finance data across the 50 states.</li>

          </ol>
          
          </p>

          <h4> Where should I start? </h4>
          <p> </p>
        </div>

      </div>

      </section>

      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-9 columns">
                <h4>Get in touch!</h4>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
