      <section class="hero">
        <br>
        <div class="row">
          <div class="large-6 columns about-box">
            <div class="black-box">
              <h2>Making camapign finance less fuzzy.</h2>
              <p>Open Disclosure Alabama aims to provide an easy to use web interface for Alabama's publicly available campaign finance data, which empowers citizens to better understand the flow of money in their political system, and consequently allow them to hold their representatives more accountable.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="hero-content">
      <div class="row">
        <div class="large-8 columns about-content">
          <h4>Our data.</h4>

          Hello!
          
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="large-4 columns">
          <ul class="small-block-grid-2">
            <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
            <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
            <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
            <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          </ul>
        </div>
      </div>
      </section>

      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">
              <div class="large-9 columns">
                <h4>Get in touch!</h4>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
