body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

hr {
	text-align: center;
	margin: 0 auto;
	opacity: 0.5;
}

ul {
	text-transform: uppercase;
}

ul.inline-list.right {
	text-transform: none;
}

ul.inline-list.right a{
	color: #000;
}

ul.inline-list.right a:hover {
	color: rgba(0, 0, 0, 0.5);
}

h1 {
	font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	font-size: 32px;
	color: #fff;
	line-height: 28px;
	margin-top: 16px;
	margin-bottom: 0px;
	text-align: center;
}

h2 {
	font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	color: #fff;
	font-size: 36px;
	line-height: 34px;
}

h3 {
	font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	font-size: 24px;
	color: #fff;
	line-height: 10px;
	text-align: center;	
	font-weight: 500;
	padding-bottom: 10px;
}

h4 {
	font-family: 'American Typewriter', 'Courier New', Courier, Monaco, mono;
	color: #000;
	font-size: 28px;	
	padding-top: 5px;
}

.columns.large-centered {
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (max-width: 40em) {
	.columns.large-centered {
		font-size: 13px;
	}
}

@media only screen and (min-width: 40.063em) {
	.columns.large-centered {
		font-size: 14px;
	}
}

.about-box {
	color: #fff;
}

.black-box {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 35px;
	font-weight: 900;
}

.black-box p {
	font-weight: 900;
}

.secondary.small.button {
	background-color: transparent;
	color: #fff;
	border: 2px #fff solid;
	border-radius: 5px;
	padding: 15px 50px 15px 50px;
	margin: 0;
}

.secondary.small.button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.row .main-wrapper {
	color: #fff;
}

.about-content {
	background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.button-group li .button {
	border: 0 !important; 
}

.button {
	-webkit-appearance: none;
	background-color: transparent;
	border-width: 0;
	text-align: center;
	box-shadow: 0 0 0;
}

.button:hover {
	color: rgba(255, 255, 255, 0.7);
	background-color: transparent;
}

footer p, footer a {
	font-size: 14px;
}

.hero {
	padding-bottom: 50px;
	background-image: url("../img/alcapitol.jpg");
	background-size: cover;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

.hero-content {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #EAEAEA;
}

.panel {
	margin: 40px 0 40px 0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	border: none;
	background-color: #EAEAEA;
}

.large-4 img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.radius.right.button {
	color: #000;
	border: 2px #000 solid;
	border-radius: 5px;
	padding: 15px 50px 15px 50px;
	margin: 0;
	font-size: 0.8125em;
}

@media only screen and (min-width: 64.063em) {
	.radius.right.button {
		color: #000;
		border: 2px #000 solid;
		border-radius: 5px;
		padding: 15px 50px 15px 50px;
		margin-top: 25px;
		font-size: 0.8125em;
	}	
}

@media only screen and (min-width: 40.063em) {
	.radius.right.button {
		color: #000;
		border: 2px #000 solid;
		border-radius: 5px;
		padding: 15px 50px 15px 50px;
		margin-top: 25px;
		font-size: 0.8125em;
	}	
}

.radius.right.button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}