body {
  font-family: 'Kreon', sans-serif;
  font-size: 18px; }

hr {
  text-align: center;
  margin: 0 auto;
  opacity: 0.5; }

ul {
  text-transform: uppercase; }

ul.inline-list.right {
  text-transform: none; }

ul.inline-list.right a {
  color: #000; }

ul.inline-list.right a:hover {
  color: rgba(0, 0, 0, 0.5); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Courier New', Courier, Monaco, mono;
  text-transform: uppercase; }

.columns.large-centered {
  padding-left: 5px;
  padding-right: 5px; }

.black-box {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 35px;
  font-weight: 900;
  color: #fff; }

#banner-text {
  color: #fff;
  text-align: center; }

.row .main-wrapper {
  color: #fff; }

.about-content {
  color: #000;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }

footer p,
footer a {
  font-size: 14px; }

.hero {
  padding-bottom: 50px;
  background-image: url("../img/alcapitol.jpg");
  background-size: cover;
  background-position: 0 50%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2); }

.hero-content {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eaeaea; }

.panel {
  margin: 40px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #eaeaea; }

.large-4 img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }

.datavis {
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 1rem; }

.candidate-money {
  font-size: 1.4rem;
  color: #0078a0 !important;
  margin-bottom: 1rem; }

p.candidate-spent {
  margin-bottom: 0;
  margin-left: 1rem;
  overflow: visible;
  white-space: nowrap;
  color: #a0e7ff;
  padding: 0.5rem 0; }

.candidate-name h1,
.candidate-name h2,
.candidate-name h3,
.candidate-name h4,
.candidate-name h5,
.candidate-name h6,
.candidate-name p {
  text-align: left; }

.candidate-bar {
  background-color: #0078a0; }

.candidate-bar-positive {
  background-color: #0078a0; }
  .candidate-bar-positive p {
    color: #6ddbff; }

.candidate-bar-negative {
  background-color: #f6402b; }
  .candidate-bar-negative p {
    color: #fef0ef; }

.candidate-card .panel {
  height: 300px;
  overflow-y: scroll; }
  .candidate-card .panel .candidate-party {
    font-size: 1.6rem;
    font-weight: bold; }
  .candidate-card .panel .Republican {
    color: #df5555; }
  .candidate-card .panel .Democrat {
    color: #5555df; }

.candidate-office {
  text-align: right; }

.side-nav {
  background-color: #333; }
  .side-nav li a:not(.button) {
    color: white; }
    .side-nav li a:not(.button):focus, .side-nav li a:not(.button):hover {
      background: #0078a0;
      color: white; }
