<h1>{{candidate.name}}</h1>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3" style="background-color: #539137">
            Total Contributions:
            <br>{{candidate.contributions | currency:"$"}}
        </div>
        <div class="col-sm-3" style="background-color: #539137">
            Expenditures:
            <br>{{candidate.expenditures | currency:"$"}}
        </div>
        <div class="col-sm-3" style="background-color: #539137">
            Available Balance:
            <br>{{candidate.contributions - candidate.expenditures | currency:"$"}}
        </div>
        <div class="col-sm-3" style="background-color: #ffdd1f">
            No. Contributions:
            <br>{{candidate.count}}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{candidate.image}}" style="width:90%">
        </div>
        <div class="col-md-5">
            {{candidate.description}}
        </div>
        <div class="col-md-4">
            What data do we want here?
        </div>
    </div>

    <div style="border-bottom: 2px solid black; padding: 15px 0;"></div>

    <div class="row">
        Charts here
    </div>

    <div style="border-bottom: 2px solid black; padding: 15px 0;"></div>

    <div class="row">
        <div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>