<bar></bar>
<input ng-model="searchText" class="navbar" placeholder="Search" style="width: 100%; border-width: 1px; border-color: black;"></input>

<div class="container-fluid">
    <div class="row">
        <table class="table table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th ts-criteria="name">Name</th>
                    <th ts-criteria="contributions" >Total Raised</th>
                    <th ts-criteria="expenditures">Expenditures</th>
                    <th ts-criteria="count">Number of itemized contributions</th>
                    <th ts-criteria="contributions / count">Average of itemized contributions</th>
                </tr>
                <tr>
                    <th>Totals</th>
                    <th>{{totals.contributions | currency:"$"}}</th>
                    <th>{{totals.expenditures | currency:"$"}}</th>
                    <th>{{totals.count}}</th>
                    <th>{{((totals.contributions / totals.count) || 0) | currency:"$"}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidate in candidates | filter:searchText | limitTo:candidatesDisplayed" ts-repeat ng-click="visitProfile(candidate.name)">
                    <td>{{candidate.name}}</td>
                    <td>{{candidate.contributions | currency:"$"}}</td>
                    <td>{{candidate.expenditures | currency:"$"}}</td>
                    <td>{{candidate.count}}</td>
                    <td>{{((candidate.contributions / candidate.count) || 0) | currency:"$"}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="showMore()" style="width: 100%; border-width: 1px; border-color: black;" ng-hide="candidatesDisplayed > candidates.length">Show more</button>
    </div>
</div>