<div ng-controller="menuCtrl">
    <div class="navbar-custom navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png"></img>{{name}}
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="collapsable-menu">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/')}">
                        <a href="#home">Home</a>
                    </li>
                    <li ng-class="{ active: isActive('/candidates')}">
                        <a href="#candidates">Candidates</a>
                    </li>
                    <li ng-class="{ active: isActive('/committees')}">
                        <a href="#committees">Committees</a>
                    </li>
                    <li ng-class="{ active: isActive('/stats')}">
                        <a href="#stats">Stats</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- About Modal -->
    <div class="modal fade" id="aboutModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">About {{name}}</h4>
                </div>
                <div class="modal-body">
                    {{about}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>