<div class="navbar-custom navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Birmingham Open Disclosure</a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="collapsable-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#candidates">Candidates</a>
                </li>
                <li>
                    <a href="#committees">Committees</a>
                </li>
                <li>
                    <a href="#stats">Stats</a>
                </li>
                <li>
                    <!-- I believe that we decided to make this a modal-->
                    <a>About</a>
                </li>
            </ul>
        </div>
    </div>
</div>